#Fill in and rename file to ".env"

#Twitch Client Config
TWITCH_USER=your username
TWITCH_OAUTH=oauth token
TWITCH_CHANNEL=chat channel

#Philips Hue Config
HUE_IP=your philips hue bridge IP
HUE_USER=your philips hue generated username