#Fill in and rename file to ".env"

#Twitch Client Config
TWITCH_USER=your username
TWITCH_OAUTH=oauth token
TWITCH_CHANNEL=chat channel

#Get new OAuth token from https://twitchapps.com/tokengen
#Scopes: channel:read:redemptions channel_read user_read
TWITCH_CLIENT_ID=client ID
TWITCH_APP_OAUTH=app oauth token
TWITCH_CHANNEL_ID=channel ID